@tailwind base;
@tailwind components;
@tailwind utilities;

body:has(.main-layout) {
  background-color: rgb(191, 224, 207);
}

:root {
  color-scheme: only light;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  color: #333 !important;
}

body {
  color: #333 !important;
}

/* Дополнительные стили для кнопки "Наверх" */
.back-to-top {
  transition: all 0.3s ease-in-out;
}

/* Оптимизация для устройств с prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
